*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
nbproject
.idea
composer.phar
components/*/
composer.lock
fuel/app/logs
fuel/core
fuel/auth
fuel/email
fuel/oil
fuel/orm
fuel/parser
fuel/vendor
